# Swift Package Manager
.build/
.swiftpm/

# Gradle / Kotlin
.gradle/
.kotlin/
build/
*.hprof

# Xcode
*.xcuserstate
xcuserdata/
DerivedData/

# Android Studio
.idea/
local.properties
*.iml

# macOS
.DS_Store
